*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C0C0C0;
    margin-top: 30px;
}

.container {
    margin: 0 1.5% 24px 1.5%;
    padding: 20px;
    background-color: #006400;
    color: #fff;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
}

section {
    float: left;
    margin: 0 1.5%;
    width: 30.33%;
    height: 400px;
}


footer {
    clear: both;
}