*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #696969;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    text-transform: uppercase;
    text-align: center;
    background-color: #00BFFF;
    padding: 32px;
    border-bottom: 5px solid #F8F8FF;
    color: #F8F8FF;
    text-shadow: 2px 2px #ff0000;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    max-width: 1400px;
    gap: 16px;
}

.card-container {
    margin: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F8FF;
    color: #00BFFF;
    border: 5px solid #ff0000;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    height: 400px;
}

.card-container img {
    width: 100%;
    border-radius: 6px;
    border: 5px solid #00BFFF;
    max-width: 280px;
    height: 200px;
    object-fit: cover;
}

.gallery::after {
    content: "";
    max-width: 366px;
    width: 100%;
}

.footer {
    text-align: center;
    text-transform: uppercase;
    background-color: #00BFFF;
    color: #F8F8FF;
    border-top: 5px solid #F8F8FF;
    padding: 16px;
    text-shadow: 2px 2px #ff0000;
}