/*  
    font-family: 'Rubik Glitch Pop', system-ui;
    font-family: 'Single Day', cursive;
    font-family: 'Sixtyfour', sans-serif;
 */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Sixtyfour', sans-serif;
    color: #FFF8DC;
    background-color: #2F4F4F;
}

.header {
    text-align: center;
    padding: 16px;
    background-color: #1E90FF;
}

.header h1 {
    font-size: 5.5rem;
    margin-bottom: 1.5rem;
}

.header p {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: #FFF8DC;
}

.header p a:hover {
    background-color: #2F4F4F;
}